<?xml version="1.0" encoding="utf-8"?>

<odoo>

    <menuitem
        id="survey_monkey_menu_root"
        name="Survey Monkey"
        web_icon="kororo_survey_monkey,static/description/icon.png"/>

    <menuitem
        id="menu_home"
        name="Home"
        parent="kororo_survey_monkey.survey_monkey_menu_root"
        action="kororo_survey_monkey.menu_action_survey_monkey"
        sequence="1"/>

    <!-- <menuitem
        id="menu_profile"
        name="Profile"
        parent="kororo_survey_monkey.survey_monkey_menu_root"
        action="kororo_survey_monkey.menu_action_profile_survey_monkey"
        sequence="2"/> -->


</odoo>